*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
.cardbox{
    width: 200px;
    /* border: 1px black solid; */
    padding:10px;
    margin:10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(87, 87, 87, 0.75);
    border: 1px solid black;
}   
.PropsTitle{
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.PropsValue{
    color: black;
    padding-right: 15px;
    font-size: 18px;
}