*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
thead tr .tableRow{
    background-color: rgb(147, 247, 235) ;
}
thead tr .Table3cs{
    background-color: rgb(216, 251, 250) ;
}
.borderNone{
    border: none;
}
.padding2px{
    padding: 2px;
}