*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.tableRow{
    background-color: rgb(147, 247, 235) !important;
}
.Table3cs{
    background-color: rgb(216, 251, 250) !important;
}
.borderNone{
    border: none;
}
.padding2px{
    padding: 2px;
}